/* Fonts first! */
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Faster+One');

.body {
  font-family: 'Lato', sans-serif;
}

.header {
    font-family: 'Faster One', cursive;
}

.dot {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.dot:hover {
    border-bottom: 2px dotted #000;
}
